<%
  const {setImage} = require('setImage');
  var headerData = {
    title: 'Template',
    desc: 'Template for new project'
  };
%>
<%= _.template(require('html-loader!../includes/header.html'))(headerData) %>

    <main class="main">
      <section class="first-screen">
        <div class="container">
          <div class="first-screen__inner">
            <h1 class="first-screen__title">Webpack template</h1>
            <%= setImage('main__img', '1.jpg', 'Зеленые горы') %>
          </div>
        </div>
      </section>
    </main>

  <%= _.template(require('html-loader!../includes/footer.html'))() %>
