<%
  var data = { title: "Template" };
  var isProductionMode = htmlWebpackPlugin.options.webpackMode  === 'production' ? true : false;
  var setImage = function (className, imageSrc, altText) {
    var lol = require('../assets/images/' + imageSrc);
    var lol2 = require.main;
    console.log(lol2)

    return '<img class=' + className + ' src=' + lol + ' alt=' + altText + '>';
  };
%>
<%= _.template(require('html-loader!../includes/header.html'))(data) %>

    <main class="main">
      <div class="container">
        Hello world
        <picture>
          <% if (isProductionMode) { %><source type="image/webp" srcset="images/1.webp"><% } %>
          <img src="<%=require('../assets/images/1.jpg')%>" alt="">
        </picture>
        <%= setImage('lol', '1.jpg', 'lol2') %>
      </div>
    </main>

<%= require('html-loader!../includes/footer.html') %>
