<%
  var data = { title: "Template" };
  var isProductionMode = htmlWebpackPlugin.options.webpackMode  === 'production' ? true : false;
%>
<%= _.template(require('html-loader!../includes/header.html'))(data) %>

    <main class="main">
      <div class="container">
        Hello world
        <picture>
          <% if (isProductionMode) { %><source type="image/webp" srcset="images/1.webp"><% } %>
          <img src="<%=require('../assets/images/1.jpg')%>" alt="">
        </picture>
      </div>
    </main>

<%= require('html-loader!../includes/footer.html') %>
