// flex size in rem
@function rem($pixels, $context: $font-size) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1rem;
};

// media querie
@mixin mq($from, $to: 0) {
  @if $to {
    @media (max-width: $from - 1px) and (min-width: $to) {
      @content
    };
  } @else {
    @media (max-width: $from - 1px) {
      @content
    };
  }
};

@mixin setImage($url, $ext) {
  background-image: url('#{$url}#{$ext}');

  @media (min-resolution: 2dppx) {
    background-image: url('#{$url}@2x#{$ext}');
  }

  @media (min-resolution: 3dppx) {
    background-image: url('#{$url}@3x#{$ext}');
  }
}

@mixin setGridRows ($value, $media-value: $value) {
  grid-template-rows: $value;

  @media (min-width: #{$desktop + 1px}) {
    grid-template-rows: $media-value;
  }
}

@mixin setHorizontalSlider {
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: visible;
  -webkit-overflow-scrolling: touch;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
