// font
$font-primary: 'Roboto';
$font-size: 14px;
$font-color: var(--black);

// screen breakpoints
$desktop-width: 1440px;
$laptop-width: 1280px;
$tablet-width: 768px;
$mobile-width: 320px;

// screen breakpoints for media querie
$desktop: setMaxWidth($desktop-width);
$laptop: setMaxWidth($laptop-width);
$tablet: setMaxWidth($tablet-width);
