// font
$font-primary: 'Roboto';
$font-weight: 400;
$font-size: 14px;
$font-color: var(--black);

// screen breakpoints
$desktop: 1440px;
$desktop-low: 1280px;
$laptop: 1024px;
$tablet: 768px;
$mobile: 320px;
